@model TravelAgency_Prod.Models.Administrator

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
}

<section class="section-admin">
        <div class="blur">
            <div class="container-admin">
                <a class="admin-button btn-admin" id="tour" asp-controller="AdminCRUDTours" asp-action="Index">
                    <p>Туры</p>
                </a>
                <a class="admin-button btn-admin" id="operator" asp-controller="AdminCRUDTourManagers" asp-action="Index">
                    <p>Тур-менеджеры</p>
                </a>
            </div>
        </div>
    </section>