<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - TravelAgency</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TravelAgency.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
    <title>Информация о туре клиент</title>
    <script src="https://kit.fontawesome.com/3788136fec.js" crossorigin="anonymous"></script> <!-- fontawesome.com -->
</head>
<body>

    <header>
        <div class="container">
            <div class="header-line">             
                <div class="logo">
                </div>
                <div class="nav">
                    <a class="nav-item" asp-controller="Clients" asp-action="AboutUs">О нас</a>
                    <a class="nav-item" asp-controller="Clients" asp-action="ToursListForClients">Туры</a>
                    <a class="nav-item" asp-controller="Clients" asp-action="Contacts">Контакты</a>
                    <a class="nav-item" asp-controller="Clients" asp-action="Favourite">Избранное</a>
                    <a class="nav-item" asp-controller="Clients" asp-action="Basket">Корзина</a>
                    <a class="nav-item" asp-controller="Account" asp-action="Logout">Выход</a>
                </div>
            </div>
        </div>
    </header>

    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container">
            <div class="footer-line">
                <div class="footer-logo">
                    <img src="Логотип.png" alt="">
                    <div class="footer-inf">
                        <p>Политика конфидециальности</p>
                        <p>Все права защищены 2022</p>
                    </div>
                </div>
                <div class="footer-inf">
                    <p>Телефон: 7 (960) 917 47 61</p>
                    <p>E-mail: touragency@mail.ru</p>

                </div>
            </div>
        </div>
    </footer>
   @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>*@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
