@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
    <title>Главная неавторизованного пользователя</title>
</head>
<body>
    <section class="section-1">
        <div class="container-section-1">
            <h1 class="section-1-text">Туры по всему миру</h1>
            <p class="section-1-text2">Выбери свой тур</p>
            <a asp-controller="Home" asp-action="ToursList" class="section-1-button">Выбрать тур</a>
        </div>
    </section>
</body>