@{
    Layout = "_LayoutManager";
}

<section class="section-3">
        <div class="blur">
            <div class="container-section-3">
                <div class="container-section-3-1">
                <h1>В целом хорошо бы не забыть вставить сюда контактную информацию турагентства!!!В целом хорошо бы не забыть вставить сюда контактную информацию турагентства!!!В целом хорошо бы не забыть вставить сюда контактную информацию турагентства!!!В целом хорошо бы не забыть вставить сюда контактную информацию турагентства!!!В целом хорошо бы не забыть вставить сюда контактную информацию турагентства!!!В целом хорошо бы не забыть вставить сюда контактную информацию турагентства!!!В целом хорошо бы не забыть вставить сюда контактную информацию турагентства!!!В целом хорошо бы не забыть вставить сюда контактную информацию турагентства!!!В целом хорошо бы не забыть вставить сюда контактную информацию турагентства!!!В целом хорошо бы не забыть вставить сюда контактную информацию турагентства!!!В целом хорошо бы не забыть вставить сюда контактную информацию турагентства!!!</h1>
                
                </div>
            </div>
        </div>
    </section>
