@model TravelAgency_Prod.Models.TourManager

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmManag.cshtml";
}




<section class="section-we">
    <div class="container-section-3">
        <div class="container-section-3-1">
            <h1>О нас</h1>
            <hr>
            <p class="section-3-text">Мы рады приветствовать вас в туристическом агентстве «Три листочка». Наше агентство работает на рынке туристических услуг с 2010 года. Мы занимаемся продажей путевок за границу по самым выгодным ценам!</p>
            <h2>Основные направления нашей деятельности:</h2>
            <h2>Экскурсионные туры</h2>
            <p class="section-3-text">Экскурсионные автобусные и железнодорожные туры в Москву, Санкт-Петербург, в Казань, в Карелию. Вы можете заказать у нас путевки по городам  Золотого Кольца  и в другие города России, а также в Беларусь.</p>
            <h2>Отдых на море</h2>
            <p class="section-3-text">Автобусные и ж/д туры на море.  Большой выбор гостиниц и отелей Краснодарского края, Абхазии и Крыма.</p>
            <h2>Санатории</h2>
            <p class="section-3-text">Мы предлагаем вам качественное лечение в лучших здравницах Белоруссии, Карелии,  лечение и отдых на Кавказских Минеральных водах и  Абхазии.</p>
            <h2>Круизы</h2>
            <p class="section-3-text">Увлекательные  речные круизы по городам Золотого Кольца, круизы в Астрахань и Ростов-на-Дону, круизы по Днепру,  на Валаам, а также круизы выходного дня. Вы можете приобрести  круиз с выездом из таких городов, как: Москва , Санкт-Петербург , Самара , Нижний Новгород , Казань , Ростов-на-Дону.</p>
            <h2>Гостиницы и  базы отдыха</h2>
            <p class="section-3-text">Мы занимаемся бронированием гостиниц и баз отдыха в Санкт-Петербурге и области, в  Москве и Подмосковье, в Карелии  и Белоруссии, в Крыму .</p>
            <h2>Туры для организованных взрослых и школьных групп</h2>
            <p class="section-3-text">Вы можете заказать у нас  для организованной группы любую экскурсию, с проживанием, питанием — на ваш выбор. Предоставим транспорт для группы.</p>
        </div>
    </div>
</section>